#tmgmt-local-translator-job-form .form-item,
#tmgmt-local-translator-job-form .form-submit
 {
  float:left;
  margin-right:1em;
}

.tmgmt-job-item .form-type-textarea {
  width:45%;
  float:left;
  margin:0.4em;
}
textarea.tmgmt-source {
}
textarea.tmgmt-translation {

}